.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6347;
    padding: 10px 20px;
    color: white;
}
.header h1{
    margin: 0;
    font-size: 24px;
}
.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
.header ul li{
    cursor: pointer;
}
.header ul li:hover{
    text-decoration: underline;
}
