/* .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6347;
    padding: 10px 20px;
    color: white;
}
.header h1{
    margin: 0;
    font-size: 24px;
}
.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
.header ul li{
    cursor: pointer;
}
.header ul li:hover{
    text-decoration: underline;
}
.appLayout{
    font-family: Arial, sans-serif;
}
.appLayout h2{
    text-align: center;
    margin-top: 20px;
}
.searchBar{
    display: flex;
    justify-content: center;
    margin: 20px ;
}
.searchBar input{
    width: 300px;
    padding: 10px;
    font-size: 16px;
}
.filterBtn{
    
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
.filterBtn:hover{
    background-color: #ff6347;
    color: white;
}
.restaurantList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.restaurantCard{
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.restaurantCard img{
    width: 100%;
    border-radius: 8px;
}
.restaurantCard h3{
    margin: 10px 0 5px 0;
}
.restaurantCard p{
    color: #555;
    font-size: 14px;
}

.filterBtn{
    
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
.filterBtn:hover{
    background-color: #ff6347;
    color: white;
}
.filtering{
    display: flex;
    justify-content:center;
    gap: 20px;
    margin-bottom: 20px;
}




 */
@import "tailwindcss";